<div class="row">
  <h4 align="center">Please Update Your Online Clinic</h4>
  <h5 align="center"><em>Please Use a 24-Hour Clock</em></h1>
</div>

  <%= render partial: 'dr_availabilities_form',object: @dr_availabilities, locals: { button_name: "Update Settings" } %>