<div class-"row">
	   <style type="text/css">
			body {
			  margin: 50px;
			}
    	</style>
  <% if @current_user.type=="Patient" %>
    <h2><strong>Step 2:</strong> Select An Appointment Date and Time</h2>
  <% end %>
  <div id="calendar" class="col-lg-8"></div>
  <div id="single-day" class="col-lg-4">

  </div>
</div>