<div class="row">
<h2><%=@current_date.to_date.strftime("%A, %B %e, %Y") %></h2>
<div id="day_calendar">
      <style type="text/css">
      body {
        margin: 50px;
      }
      </style>
  <% if @appointment_times == nil %>
    <h2>No appointments available for this day</h2>
  <% else %>
  <% @appointment_times.each do |time| %>
  <% formatted_time = time.strftime("%H:%M") %>
    <table class="table">
      <tr>
        <td><%= time.strftime("%H:%M") %><td>
          <% if time_booked?(time, @current_date.to_date, @dr_availability.id) %>
            <td>Time unavailable</td>
          <% elsif @current_date.to_date <= Time.now %>
            <td>Time unavailable</td>
          <% else %>
            <td><%= link_to "Book Appointment", new_patient_appointment_path(time: formatted_time, date: @current_date.to_date, doctor_id: @current_doctor), class: "btn btn-success btn-xs" %></td>
          <% end %>
      </tr>
    </table>
    <% end %>
  <% end %>
</div>