<div class="col-md-4 col-md-offset-4">
		<style type="text/css">
			body {
			  padding-top: 60px;
			  background: url(/assets/hospital-background.jpg)no-repeat center center fixed;
			  -webkit-background-size: cover;
			  -moz-background-size: cover;
			  -o-background-size: cover;
			  background-size: cover;
			}
    	</style>
  <h1 class="loginid">Login</h1>
  <% if flash[:error] %>
    <%= flash[:error] %>
  <% end %>

<%= render partial: 'form', locals: { person: @user, desired_url: login_users_path } %>
</div>