<div class="jumbotron">
  <div class="container">
    <div class="center">
      	<style type="text/css">
    			body {
    			  padding-top: 60px;
    			  background: url(/assets/hospital-background.jpg)no-repeat center center fixed;
    			  -webkit-background-size: cover;
    			  -moz-background-size: cover;
    			  -o-background-size: cover;
    			  background-size: cover;
  			}
      	</style>
      <h1 id="index_name">Easy<font color="blue">Checkin</font></h1>
      <h2 id="index_add">The Internet's Leading <font color="#2383c4">Physician Scheduling</font> Site</h2>
      <%= link_to 'Sign Up Now', new_user_path, class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>
</div>